* {
    font-family: 'Inter', sans-serif;
}
h2 {
    font-size: 40px;
    text-align: center;
    font-weight: normal;
}
.btn {
    text-decoration: none;
    background-color: #8B2681;
    text-align: center;
    color: white;
    cursor: pointer;
    height: 44px;
    width: 58vw;
    font-size: 25px;
    font-weight: bold;
    padding-top: 12px;
    
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    border-radius: 5px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
    padding-top: 20px;
}
p {
    font-size: 25px;
}
.btn2 {
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.wrap {
    padding-top: -5vh;
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
}